<%- include('../include/header.ejs') %> <%- include('../include/nav.ejs') %> 

  <main class="course__abs">
    <h1 class="main__title">
      <%= course.name %>
    </h1>


    <div class="exam__committee__info">
      <% if(user.isAdmin) { %>

        <div class="instrs">
          <h3 class="instr"><%= "المراقب المشرف: أ. " + user.name %></h3>
          <h3 class="instr"><%= "المراقب المساعد: أ. " + secInstr.name %></h3>
        </div>
        
      <% } %>

      <% if(!user.isAdmin) { %>

        <div class="instrs">
          <h3 class="instr"><%= "المراقب المشرف: أ. " + secInstr.name %></h3>
          <h3 class="instr"><%= "المراقب المساعد: أ. " + user.name %></h3>
        </div>
        
      <% } %>
      <h3><%= "اللجنة: " + user.examCommitteeNumber %></h3>


    </div>
    

    <div class="table__container full__table">
      <table class="print__table">

        <thead>
          <tr>
            <th class="student__image">صورة</th>
            <th>الاسم</th>
            <th class="nationalid">الرقم القومي</th>
            <th>كود الطالب</th>
            <th class="sitting__area">رقم الجلوس</th>
            <th class="grade">السنة</th>
            <th>حضور</th>
            <th>انصراف</th>
            <th class="print__only">إمضاء</th>
          </tr>
        </thead>

        <% for(let student of students) { %>
          <tr>
            <td class="student__image">
              <a target="_blank" href="<%= url + "profile.png" %>"><img src="<%= url + "profile" + ".png" %>" alt=""></a>
            </td>
            <td class="student__name"><%= student.name %></td>
            <td class="nationalid"><%= student.nationalID %></td>
            <td class="studentId"><%= student.studentId %></td>
            <td class="sitting__area"><%= student.sittingArea %></td>
            <td class="grade"><%= student.grade %></td>
            <% for(let studentCourse of student.courseAttend) { %>
              <% if(studentCourse.courseId.toString() === course._id.toString()) { %>
                <td class="yes__no"><%= studentCourse.attend ? "نعم" : "لا" %></td>
              <% } %>
            <% } %>

            <% for(let studentCourse of student.courseAttend) { %>
              <% if(studentCourse.courseId.toString() === course._id.toString()) { %>
                <td class="yes__no"><%= studentCourse.depr ? "نعم" : "لا" %></td>
              <% } %>
            <% } %>
            <td class="print__only"></td>
          </tr>
        <% } %>

      </table>
    </div>

    <div class="numberic__stats">
      <h3><%= "عدد الحاضرين: " + students.length + " / " + totalComers %></h3>
      <h3><%= "عدد المحاضر: " + totalCheating %></h3>
    </div>

    <div class="instr__sign print__only">
      <h1>إمضاء المراقب الأول: </h1>
      <h1>إمضاء المراقب الثاني:  </h1>
    </div>


    <div class="students__action">
      <% if(user.isAdmin) { %>
        <form action="/take-came-students/<%= course._id %>" method="get">
          <button class="btn__main">تسجيل الحضور</button>
        </form>
        <form action="/take-went-students/<%= course._id %>" method="get">
          <button class="btn__main">تسجيل الانصراف</button>
        </form>
      <% } %>
      
      <button class="btn__main print__btn"><i class="fa-solid fa-print"></i> طباعة الحضور</button>
      <a class="btn__main fraud__btn" href="/fraud-report/<%= course._id %>"> عمل محضر </a>
    </div>

  </main>

<%- include('../include/footer.ejs') %>